.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    display:none;
    background-color: var(--color-darker-green-95);
    overflow: scroll;
    padding: 40px 0;
}


.modalForm {
    width: 600px;
    margin: auto;
    padding: 50px;
    border: 1px solid var(--color-dark-green);
    background-color:var(--color-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalPromo-form.disable *,
#modalPromo-form.disable,
#modalProduct-form.disable *,
#modalProduct-form.disable {
    cursor: wait;
}

.modalForm h3 {
    margin-bottom: 30px;
}
.div-id {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.div-id label {
    color: var(--color-mercadona-border);
}
.div-id input {
    border: none;
}

fieldset {
    margin: 10px 0px;
    display: flex;
    width: 100%;
}
input,
textarea,
select {
    height: 40px;
    border: 1px solid var(--color-mercadona-border);
    border-radius: 7px;
    margin: 2px;
    width: 100%;
    background-color: var(--color-white);
    padding: 0px 10px;
}
textarea {
    height: 120px;
}
#picture {
    padding: 7px;
}
#price {
    width: 100px;
}
.idInput {
    height: 25px;
}
.id-input-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.id-input-div div {
    width: auto;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}
.smallInput {
    width: 100px;
}
.idInput {
    width: 50px;
    margin-left: 10px;
}
.error-form {
    display: none;
    font-size: 0.9em;
}
input.invalid,
textarea.invalid,
select.invalid {
    border: 2px solid var(--color-mercadona-red);
}
input.invalid + p,
textarea.invalid + p,
select.invalid + p {
    display: block;
    color: var(--color-mercadona-red);
}
.currentFile,
.currentFileUrl {
    display: none;
    font-size: 0.8em;
    color: var(--color-mercadona-green);
}

.currentFileUrl.show,
.currentFile.show {
    display: flex;
}




.div-btn {
    display: flex;
    justify-content: end;
    width: 100%;
}
.modalBtn {
    width: 100px;
}
.saveBtn{
    background-color: var(--color-mercadona-green);
    color: var(--color-white);
    border: 2px solid var(--color-mercadona-green);
    font-size: 0.9em;
}

.saveBtn:hover {
    background-color: var(--color-white);
    color: var(--color-mercadona-green);
}

.cancelBtn{
    border: 1px solid var(--color-mercadona-red);
    color: var(--color-mercadona-red);
    font-size: 0.9em;
}

.cancelBtn:hover {
    background-color: var(--color-mercadona-red);
    color: var(--color-white);
}